<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>CPUSENSORS_BUNDLE</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1.58</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>246</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Intel Thermal Monitor</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>CPUSENSORS_BUNDLE</string>
			<key>IOClass</key>
			<string>CPUSensors</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>processor-index</key>
				<integer>0</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PlatformString</key>
					<string></string>
					<key>Tjmax</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © HWSENSORS_LASTYEAR Natan Zalkin &lt;natan.zalkin@me.com&gt;. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>FAKESMC_BUNDLE</key>
		<string>FAKESMC_COMPATIBLE</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
