<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.kozlek.${PRODUCT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Fintek F718x Monitoring Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.kozlek.${PRODUCT_NAME}</string>
			<key>IOClass</key>
			<string>F718xMonitor</string>
			<key>IOMatchCategory</key>
			<string>SuperIOMonitor</string>
			<key>IOProviderClass</key>
			<string>SuperIO</string>
			<key>IONameMatch</key>
			<array>
				<string>Fintek,F71858</string>
				<string>Fintek,F71862</string>
				<string>Fintek,F71869</string>
				<string>Fintek,F71869A</string>
				<string>Fintek,F71882</string>
				<string>Fintek,F71889AD</string>
				<string>Fintek,F71889ED</string>
				<string>Fintek,F71889F</string>
				<string>Fintek,F71808</string>
			</array>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
			<key>Sensors Configuration</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>TEMPIN0</key>
					<string>CPU</string>
					<key>TEMPIN1</key>
					<string>System</string>
					<key>FANIN0</key>
					<string></string>
					<key>FANIN1</key>
					<string></string>
					<key>FANIN2</key>
					<string></string>
					<key>FANIN3</key>
					<string></string>
					<key>FANIN4</key>
					<string></string>
					<key>VIN0</key>
					<string>CPU</string>
					<key>VIN1</key>
					<string>Power Supply 1</string>
					<key>VIN2</key>
					<string>Power Supply 2</string>
					<key>VIN3</key>
					<string>Power Supply 3</string>
					<key>VIN4</key>
					<string>Power Supply 4</string>
					<key>VIN5</key>
					<string>Power Supply 5</string>
					<key>VIN6</key>
					<string>Power Supply 6</string>
					<key>VIN7</key>
					<string>Power Supply 7</string>
					<key>VIN8</key>
					<string>PWR8</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>org.netkas.FakeSMC</key>
		<string>4.2.0</string>
		<key>org.kozlek.SuperIO</key>
		<string>1.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
