<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.hwsensors.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>ATYSENSORS_SHORTVERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>ATYSENSORS_VERSION</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © HWSENSORS_LASTYEAR Slice. All rights reserved.</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Radeon Monitoring Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.hwsensors.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>IOClass</key>
			<string>RadeonMonitor</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xFF000000</string>
			<key>IOPCIMatch</key>
			<string>0x00001002&amp;0x0000FFFF</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>org.netkas.FakeSMC</key>
		<string>FAKESMC_COMPATIBLE</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
