<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>default.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.hwsensors.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4416</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 kozlek. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>Platform Profile</key>
	<dict>
		<key>MacBookPro8,1</key>
		<dict>
			<key>Temperatures</key>
			<array>
				<dict>
					<key>key</key>
					<string>TC1C</string>
					<key>title</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>TC2C</string>
					<key>title</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>TC0C</string>
					<key>title</key>
					<string>CPU Core 1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TC0D</string>
					<key>title</key>
					<string>CPU Core 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TC0E</string>
					<key>title</key>
					<string>CPU Core 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TC0F</string>
					<key>title</key>
					<string>CPU Core 3</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TC0P</string>
					<key>title</key>
					<string>CPU Proximity</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TPCD</string>
					<key>title</key>
					<string>PCH Die</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TP0P</string>
					<key>title</key>
					<string>PCH Proximity</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TCGC</string>
					<key>title</key>
					<string>PECI GFX</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TCSA</string>
					<key>title</key>
					<string>PECI SA</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TM0P</string>
					<key>title</key>
					<string>DIMM Incoming Air</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TM0S</string>
					<key>title</key>
					<string>DIMM Outcoming Air</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Th1H</string>
					<key>title</key>
					<string>Internal Heatpipe</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Ts0P</string>
					<key>title</key>
					<string>Heatpipe Incoming Air</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Ts0S</string>
					<key>title</key>
					<string>Heatpipe Outcoming Air</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TB0T</string>
					<key>title</key>
					<string>Battery 1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TB1T</string>
					<key>title</key>
					<string>Battery 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TB2T</string>
					<key>title</key>
					<string>Battery 3</string>
				</dict>
			</array>
			<key>Voltages</key>
			<array>
				<dict>
					<key>key</key>
					<string>VC0C</string>
					<key>title</key>
					<string>CPU Core</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VN0R</string>
					<key>title</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>VP0R</string>
					<key>title</key>
					<string>Main 12V</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VD0R</string>
					<key>title</key>
					<string>Mainboard S0 Rail</string>
				</dict>
			</array>
		</dict>
		<key>MacPro5,1</key>
		<dict>
			<key>Currents</key>
			<array>
				<dict>
					<key>key</key>
					<string>ICAC</string>
					<key>title</key>
					<string>CPU A</string>
				</dict>
				<dict>
					<key>key</key>
					<string>ICBC</string>
					<key>title</key>
					<string>CPU B</string>
				</dict>
				<dict>
					<key>key</key>
					<string>IMAS</string>
					<key>title</key>
					<string>Memory Bank A</string>
				</dict>
				<dict>
					<key>key</key>
					<string>IMBS</string>
					<key>title</key>
					<string>Memory Bank B</string>
				</dict>
				<dict>
					<key>key</key>
					<string>IN0C</string>
					<key>title</key>
					<string>PCH</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Ie1S</string>
					<key>title</key>
					<string>PCIe Slot 1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Ie2S</string>
					<key>title</key>
					<string>PCIe Slot 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Ie3S</string>
					<key>title</key>
					<string>PCIe Slot 3</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Ie4S</string>
					<key>title</key>
					<string>PCIe Slot 4</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Ip0C</string>
					<key>title</key>
					<string>Power Supply, +12V</string>
				</dict>
			</array>
			<key>Powers</key>
			<array>
				<dict>
					<key>key</key>
					<string>PCAC</string>
					<key>title</key>
					<string>CPU A</string>
				</dict>
				<dict>
					<key>key</key>
					<string>PCBC</string>
					<key>title</key>
					<string>CPU B</string>
				</dict>
				<dict>
					<key>key</key>
					<string>PMAS</string>
					<key>title</key>
					<string>Memory Bank A</string>
				</dict>
				<dict>
					<key>key</key>
					<string>PMBS</string>
					<key>title</key>
					<string>Memory Bank B</string>
				</dict>
				<dict>
					<key>key</key>
					<string>PN0C</string>
					<key>title</key>
					<string>PCH</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Pe1S</string>
					<key>title</key>
					<string>PCIe Slot 1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Pe2S</string>
					<key>title</key>
					<string>PCIe Slot 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Pe3S</string>
					<key>title</key>
					<string>PCIe Slot 3</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Pe4S</string>
					<key>title</key>
					<string>PCIe Slot 4</string>
				</dict>
				<dict>
					<key>key</key>
					<string>PpSM</string>
					<key>title</key>
					<string>Power Supply, Memory</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Pp0C</string>
					<key>title</key>
					<string>Power Supply, +12V</string>
				</dict>
			</array>
			<key>Temperatures</key>
			<array>
				<dict>
					<key>key</key>
					<string>TCAC</string>
					<key>title</key>
					<string>CPU A Core</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TCAD</string>
					<key>title</key>
					<string>CPU A Die</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TCAH</string>
					<key>title</key>
					<string>CPU A Heatsink</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TCBC</string>
					<key>title</key>
					<string>CPU B Core</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TCBD</string>
					<key>title</key>
					<string>CPU B Die</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TCBH</string>
					<key>title</key>
					<string>CPU B Heatsink</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TN0D</string>
					<key>title</key>
					<string>PCH Die</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TN0H</string>
					<key>title</key>
					<string>PCH Heatsink</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMA1</string>
					<key>title</key>
					<string>Memory Bank A, Dimm 1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMA2</string>
					<key>title</key>
					<string>Memory Bank A, Dimm 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMA3</string>
					<key>title</key>
					<string>Memory Bank A, Dimm 3</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMA4</string>
					<key>title</key>
					<string>Memory Bank A, Dimm 4</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMB1</string>
					<key>title</key>
					<string>Memory Bank B, Dimm 1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMB2</string>
					<key>title</key>
					<string>Memory Bank B, Dimm 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMB3</string>
					<key>title</key>
					<string>Memory Bank B, Dimm 3</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TMB4</string>
					<key>title</key>
					<string>Memory Bank B, Dimm 4</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TH1P</string>
					<key>title</key>
					<string>HDD Bay 1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TH2P</string>
					<key>title</key>
					<string>HDD Bay 2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TH3P</string>
					<key>title</key>
					<string>HDD Bay 3</string>
				</dict>
				<dict>
					<key>key</key>
					<string>TH4P</string>
					<key>title</key>
					<string>HDD Bay 4</string>
				</dict>
			</array>
			<key>Voltages</key>
			<array>
				<dict>
					<key>key</key>
					<string>VCAC</string>
					<key>title</key>
					<string>CPU A</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VCBC</string>
					<key>title</key>
					<string>CPU B</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VMAS</string>
					<key>title</key>
					<string>Memory Bank A</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VMBS</string>
					<key>title</key>
					<string>Memory Bank B</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VN0C</string>
					<key>title</key>
					<string>PCH</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VS2C</string>
					<key>title</key>
					<string>Memory Modules</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VS8C</string>
					<key>title</key>
					<string>Main 3.3V</string>
				</dict>
				<dict>
					<key>key</key>
					<string>Vp0C</string>
					<key>title</key>
					<string>Main 12V</string>
				</dict>
				<dict>
					<key>key</key>
					<string>VS1C</string>
					<key>title</key>
					<string>VRM Supply 1</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
