<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.kozlek.${PRODUCT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Winbond W836x Monitoring Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.kozlek.${PRODUCT_NAME}</string>
			<key>IOClass</key>
			<string>W836xMonitor</string>
			<key>IOMatchCategory</key>
			<string>SuperIOMonitor</string>
			<key>IOProviderClass</key>
			<string>SuperIO</string>
			<key>IONameMatch</key>
			<array>
				<string>Winbond,W83627DHG</string>
				<string>Winbond,W83627UHG</string>
				<string>Winbond,W83627DHGP</string>
				<string>Winbond,W83627EHF</string>
				<string>Winbond,W83627HF</string>
				<string>Winbond,W83627THF</string>
				<string>Winbond,W83627SF</string>
				<string>Winbond,W83637HF</string>
				<string>Winbond,W83667HG</string>
				<string>Winbond,W83667HGB</string>
				<string>Winbond,W83687THF</string>
				<string>Winbond,W83697HF</string>
				<string>Winbond,W83697SF</string>
			</array>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
			<key>Sensors Configuration</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>TEMPIN0</key>
					<string>CPU</string>
					<key>TEMPIN1</key>
					<string>System</string>
					<key>TEMPIN3</key>
					<string>Ambient</string>
					<key>FANINLIMIT</key>
					<integer>0</integer>
					<key>FANIN0</key>
					<string></string>
					<key>FANIN1</key>
					<string></string>
					<key>FANIN2</key>
					<string></string>
					<key>FANIN3</key>
					<string></string>
					<key>FANIN4</key>
					<string></string>
					<key>VIN0</key>
					<string>CPU</string>
					<key>VIN1</key>
					<string>PWR1</string>
					<key>VIN2</key>
					<string>PWR2</string>
					<key>VIN3</key>
					<string>PWR3</string>
					<key>VIN4</key>
					<string>PWR4</string>
					<key>VIN5</key>
					<string>PWR5</string>
					<key>VIN6</key>
					<string>PWR6</string>
					<key>VIN7</key>
					<string>PWR7</string>
					<key>VIN8</key>
					<string>Battery</string>
					<key>VIN9</key>
					<string>PWR8</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>org.netkas.FakeSMC</key>
		<string>4.2.0</string>
		<key>org.kozlek.SuperIO</key>
		<string>1.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
