<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D50</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NuvotonNCT677x</string>
	<key>CFBundleIdentifier</key>
	<string>org.mozodojo.NuvotonNCT677x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4D502</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11C63</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0421</string>
	<key>DTXcodeBuild</key>
	<string>4D502</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Nuvoton NCT677x Monitor Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozodojo.NuvotonNCT677x</string>
			<key>IOClass</key>
			<string>NCT677x</string>
			<key>IOMatchCategory</key>
			<string>SuperIOMonitor</string>
			<key>IOProviderClass</key>
			<string>FakeSMC</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>Sensors Configuration</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>FANIN0</key>
					<string></string>
					<key>FANIN1</key>
					<string></string>
					<key>FANIN2</key>
					<string></string>
					<key>FANIN3</key>
					<string></string>
					<key>FANIN4</key>
					<string></string>
					<key>TEMPIN0</key>
					<string>System</string>
					<key>TEMPIN1</key>
					<string>Processor</string>
					<key>TEMPIN2</key>
					<string>Auxiliary</string>
					<key>VIN0</key>
					<string>Processor</string>
					<key>VIN1</key>
					<string>+12V</string>
					<key>VIN2</key>
					<string>AVCC</string>
					<key>VIN3</key>
					<string>+3.3V VCC</string>
					<key>VIN4</key>
					<string>VRM1</string>
					<key>VIN5</key>
					<string>VRM2</string>
					<key>VIN6</key>
					<string>VRM3</string>
					<key>VIN7</key>
					<string>+3.3V VSB</string>
					<key>VIN8</key>
					<string>Battery</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>org.netkas.FakeSMC</key>
		<string>4.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
