<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12A256</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HWMonitorExtra</string>
	<key>CFBundleIdentifier</key>
	<string>org.hwsensors.HWMonitorExtra</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HWMonitorExtra</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.38</string>
	<key>CFBundleSignature</key>
	<string>HWMN</string>
	<key>CFBundleVersion</key>
	<string>1.6.5</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4F226a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12A244</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0440</string>
	<key>DTXcodeBuild</key>
	<string>4F226a</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Natan Zalkin &lt;natan.zalkin@me.com&gt;. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>HWMonitorExtra</string>
</dict>
</plist>
