<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>ACPISENSORS_BUNDLE</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>ACPISENSORS_SHORTVERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>ACPISENSORS_VERSION</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © HWSENSORS_LASTYEAR Slice. All rights reserved.</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>INT340E Device Monitoring Plugin</key>
		<dict>
			<key>IOClass</key>
			<string>INT340EMonitor</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<array>
				<string>INT340E</string>
				<string>INT3F0D</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
		</dict>
		<key>ACPI Customizing Monitoring Plugin</key>
		<dict>
			<key>IOClass</key>
			<string>ACPIMonitor</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<array>
				<string>MONITOR</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Fan Names</key>
			<array>
				<string>System Fan</string>
				<string>Processor Fan</string>
				<string>Power Fan</string>
				<string>Intake Fan</string>
				<string>Exhaust Fan</string>
				<string>Fan 6</string>
				<string>Fan 7</string>
				<string>Fan 8</string>
				<string>Fan 9</string>
				<string>Fan 10</string>
				<string>Fan 11</string>
			</array>
			<key>Keys Associations</key>
			<dict>
				<key>Temperatures</key>
				<dict>
					<key>Th0H</key>
					<string>TCPU</string>
					<key>TN0P</key>
					<string>TSYS</string>
				</dict>
				<key>Voltages</key>
				<dict>
					<key>VC0C</key>
					<string>VCPU</string>
					<key>VM0R</key>
					<string>VMEM</string>
				</dict>
				<key>Tachometers</key>
				<dict>
					<key>FAN0</key>
					<string>FAN0</string>
					<key>FAN1</key>
					<string>FAN1</string>
					<key>FAN2</key>
					<string>FAN2</string>
					<key>FAN3</key>
					<string>FAN3</string>
					<key>FAN4</key>
					<string>FAN4</string>
					<key>FAN5</key>
					<string>FAN5</string>
					<key>FAN6</key>
					<string>FAN6</string>
					<key>FAN7</key>
					<string>FAN7</string>
					<key>FAN8</key>
					<string>FAN8</string>
					<key>FAN9</key>
					<string>FAN9</string>
					<key>FANA</key>
					<string>FANA</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0b1</string>
		<key>FAKESMC_BUNDLE</key>
		<string>FAKESMC_COMPATIBLE</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
