<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>124</string>
	<key>ProjectName</key>
	<string>HWSensors</string>
	<key>ProjectVersion</key>
	<string>5.0.100</string>
</dict>
</plist>
