<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D50</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ACPISensors</string>
	<key>CFBundleIdentifier</key>
	<string>org.slice.ACPISensors</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI Monitoring Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.slice.ACPISensors</string>
			<key>Fan Names</key>
			<array>
				<string>System Fan</string>
				<string>Processor Fan</string>
				<string>Power Fan</string>
				<string>Intake Fan</string>
				<string>Exhaust Fan</string>
				<string>Fan 6</string>
				<string>Fan 7</string>
				<string>Fan 8</string>
				<string>Fan 9</string>
				<string>Fan 10</string>
			</array>
			<key>IOClass</key>
			<string>ACPIMonitor</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>monitor</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Keys Associations</key>
			<dict>
				<key>Voltages</key>
				<dict>
					<key>VVAS</key>
					<string>VIN4</string>
					<key>VVBS</key>
					<string>VIN0</string>
					<key>VVCS</key>
					<string>VIN1</string>
					<key>VVDS</key>
					<string>VIN2</string>
					<key>VVFS</key>
					<string>VIN3</string>
				</dict>
			</dict>
			<key>Keys Associations (disabled)</key>
			<dict>
				<key>Temperatures</key>
				<dict>
					<key>TN0P</key>
					<string>TSYS</string>
					<key>Th0H</key>
					<string>TCPU</string>
				</dict>
				<key>Voltages</key>
				<dict>
					<key>VC0C</key>
					<string>VCPU</string>
					<key>VM0R</key>
					<string>VMEM</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>org.netkas.FakeSMC</key>
		<string>4.2.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
