<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12B19</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ACPISensors</string>
	<key>CFBundleIdentifier</key>
	<string>org.hwsensors.driver.ACPISensors</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4F1003</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12A264</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0441</string>
	<key>DTXcodeBuild</key>
	<string>4F1003</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI Customizing Monitoring Plugin</key>
		<dict>
			<key>Fan Names</key>
			<array>
				<string>System Fan</string>
				<string>Processor Fan</string>
				<string>Power Fan</string>
				<string>Intake Fan</string>
				<string>Exhaust Fan</string>
				<string>Fan 6</string>
				<string>Fan 7</string>
				<string>Fan 8</string>
				<string>Fan 9</string>
				<string>Fan 10</string>
			</array>
			<key>IOClass</key>
			<string>ACPIMonitor</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<array>
				<string>ACPIMON</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Keys Associations</key>
			<dict>
				<key>Temperatures</key>
				<dict>
					<key>TC0P</key>
					<string>CHCK</string>
				</dict>
				<key>Voltages</key>
				<dict/>
			</dict>
			<key>Keys Associations (original)</key>
			<dict>
				<key>Temperatures</key>
				<dict>
					<key>TN0P</key>
					<string>TSYS</string>
					<key>Th0H</key>
					<string>TCPU</string>
				</dict>
				<key>Voltages</key>
				<dict>
					<key>VC0C</key>
					<string>VCPU</string>
					<key>VM0R</key>
					<string>VMEM</string>
				</dict>
			</dict>
		</dict>
		<key>INT340E Device Monitoring Plugin</key>
		<dict>
			<key>IOClass</key>
			<string>INT340EMonitor</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCPlugin</string>
			<key>IONameMatch</key>
			<array>
				<string>INT340E</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Slice. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>org.netkas.driver.FakeSMC</key>
		<string>4.2.9</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
